.rellax,
[data-rellax-speed] {
	transform: none !important;
}
.ufo {
	display: none !important;
}
.aside {
	display: none !important;
}
.about-me,
.contact {
	padding: 20px !important;
}
.block {
	margin: 60px 0 !important;
}