:root {
	font-family: 'Montserrat', sans-serif;
	--multiplier: 13px;
	--easing: cubic-bezier(0.23,1,0.32,1);
}
@media screen and (max-width: 1000px) {
	:root {
		--multiplier: 1.3vmin;
	}
}
@media screen and (max-width: 800px) {
	:root {
		--multiplier: 10px;
	}
}
html, body {
	scroll-behavior: smooth;
}
header {
	position: fixed;
	display: block;
	top: 30px; left: 30px;
}
header span {
	position: relative;
	display: block;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	color: #cbcbcb;
	line-height: 1;
}
.plus {
	position: relative;
	display: block;
	--size: 28;
	width: calc(var(--size) * 1px);
	height: calc(var(--size) * 1px);
}
.plus:before,
.plus:after {
	position: absolute;
	display: block;
	content: '';
	top: 50%; left: 50%;
	background-color: currentColor;
	transform: translate(-50%, -50%);
}
.plus:before {
	width: 100%;
	height: calc((var(--size) / 4.5) * 1px);
}
.plus:after {
	width: calc((var(--size) / 4.5) * 1px);
	height: 100%;
}
header span .plus {
	position: absolute;
	bottom: 100%; right: 100%;
	--size: 25;
	transform: translate(20%, 30%);
}
.main section {
	position: relative;
	display: block;
	min-height: 100vh;
	overflow: hidden;
}

/** Nav **/
.aside {
	z-index: -1;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	top: 0; right: 0;
	bottom: 0; left: 0;
	pointer-events: none;
	overflow: hidden;
}
.nav {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}
.nav span {
	position: relative;
	display: flex;
	padding: calc(var(--opacity) * 6vmin) 1vmin;
	font-size: 10vmin;
	font-weight: 800;
	color: #f8f8f8;
	opacity: var(--opacity);
	transform: scale(calc(var(--opacity) + 1.1));
	transform-origin: 100% 50%;
}
.nav span:before {
	display: none;
	content: attr(data-short);
	font-size: 10vmin;
}
@media (orientation: portrait) {
	.nav span {
		font-size: 0;
	}
	.nav span:before {
		display: block;
	}
}

/** UFOs **/
.ufo {
	z-index: -1;
	position: absolute;
	background: #00F1C9;
	border-radius: 12px;
}
.ufo-sm {
	width: 60px; height: 60px;
}
.ufo-md {
	width: 120px; height: 120px;
}
.ufo-lg {
	width: 160px; height: 160px;
}
.ufo-green {
	background: #00F1C9;
}
.ufo-purple {
	background: #b48fff;
}
.ufo-red {
	background: #ff6060;
}

/** Greeting **/
.greeting {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	bottom: calc(10 * var(--multiplier)); left: calc(10 * var(--multiplier));
}
.greeting span {
	position: relative;
	display: block;
	margin-bottom: 10px;
	font-size: 40vmin;
	font-weight: 600;
	line-height: 1;
	--color: #ff6060;
	color: transparent;
}
.greeting h1 {
	position: relative;
	display: block;
	margin: 0;
	margin-left: 20vmin;
	padding-right: 5%;
	font-size: 6vmin;
	font-weight: 600;
	line-height: 1;
	white-space: nowrap;
	--color: #000;
	color: transparent;
}
.greeting h1:before {
	position: absolute;
	display: block;
	content: '';
	width: 2px; height: 100%;
	top: 50%; right: 0;
	background-color: currentColor;
	transform: translateY(-50%);
}
.greeting > * {
	overflow: hidden;
}
.greeting > *:after {
	position: absolute;
	display: block;
	content: '';
	top: 0; left: -20px;
	bottom: 0; right: -20px;
	background-color: var(--color);
	transform: translate(-110%, 0);
}
.loaded .greeting > * {
	animation: text-reveal 1s calc(var(--delay) * 1s) steps(1) both;
}
@keyframes text-reveal {
	0% { color: transparent; }
	50%, 100% { color: var(--color); }
}
.loaded .greeting > *:after {
	animation: block-reveal 1s calc(var(--delay) * 1s) ease-in-out both;
}
@keyframes block-reveal {
	0% { transform: translate(-110%, 0); }
	45%, 55% { transform: translate(0, 0); }
	100% { transform: translate(110%, 0); }
}

/** Intro **/
#intro {
	display: flex;
	align-items: flex-end;
}
#intro .ufo-green {
	top: 75%; left: 75%;
}
#intro .ufo-purple {
	top: 65%; left: 50%;
}
.intro {
	position: relative;
	display: block;
	padding: calc(10 * var(--multiplier));
	width: 400px;
}
@media screen and (max-width: 800px) {
	.intro {
		padding: calc(5 * var(--multiplier));
		width: calc(400 + ((5 * var(--multiplier)) * 2));
	}
}
.intro p {
	margin: calc(2 * var(--multiplier)) 0;
	font-size: calc(1.7 * var(--multiplier));
	font-weight: 300;
	line-height: 1.4;
}
.intro b {
	display: inline-block;
	max-width: 345px;
	font-size: calc(1.9 * var(--multiplier));
	font-weight: 700;
	line-height: 1.5;
}
.intro b span {
	padding: 5px 10px;
	background-color: #ff6060;
}
.intro b i {
	font-style: normal;
}

/** About Me **/
#about-me .ufo-green {
	top: 50%; left: 10%;
}
#about-me .ufo-red {
	top: 50%; left: 80%;
}
.about-me {
	padding: calc(10 * var(--multiplier));
}
@media screen and (max-width: 800px) {
	.about-me {
		padding: calc(5 * var(--multiplier));
	}
}
.block {
	position: relative;
	display: block;
	margin: calc(10 * var(--multiplier)) 0;
	padding-left: calc(4 * var(--multiplier));
}
.block-title {
	position: relative;
	display: block;
	margin: 0;
	margin-bottom: calc(2 * var(--multiplier));
	font-size: calc(3 * var(--multiplier));
	font-weight: 600;
}
.block-title .plus {
	position: absolute;
	top: 50%; right: calc(100% + var(--multiplier));
	color: #cbcbcb;
	transform: translateY(-50%);
}
.block-content {
	position: relative;
}
.block-item {
	display: block;
	margin-bottom: calc(1.5 * var(--multiplier));
}
.block-item-title {
	font-size: calc(1.5 * var(--multiplier));
	font-weight: 600;
}
.block-item-subtitle {
	font-size: calc(1.5 * var(--multiplier));
	font-weight: 300;
}
.block-item-footer {
	font-size: calc(1 * var(--multiplier));
	font-weight: 700;
	line-height: 1.5;
}

/** Experience **/
.experience .block-content:before {
	position: absolute;
	display: block;
	content: '';
	width: 2px; height: 100%;
	top: 0; right: calc(100% + (2 * var(--multiplier)));
	background-color: #cbcbcb;
}
.experience .block-item-title {
	position: relative;
}
.experience .block-item-title:before {
	position: absolute;
	display: block;
	content: '';
	width: 8px; height: 8px;
	top: 50%; right: calc(100% + (2 * var(--multiplier)));
	background-color: #fff;
	border: 2px solid #cbcbcb;
	border-radius: 50%;
	transform: translate(calc(50% - 1px), -50%);
}

/** Contact **/
#contact .ufo-purple {
	top: 40%; right: 10%;
}
.contact {
	padding: calc(10 * var(--multiplier));
}
@media screen and (max-width: 800px) {
	.contact {
		padding: calc(5 * var(--multiplier));
	}
}
.findme .block-item-subtitle {
	line-height: 1.5;
}
.findme a {
	color: currentColor;
	text-decoration: none;
}
.findme b {
	display: inline-block;
	width: calc(14 * var(--multiplier));
	font-weight: 600;
}
.findme span {
	display: inline-block;
}
